extends layout
block content
  h1= title
  center: p Welcome to #{title}
  center: canvas(id="myCanvas", height="800", width="800")
  script(src="http://localhost:8888/socket.io/socket.io.js")
  script(type='text/javascript').
    var dir = '#{filedir}';
    var roomid = '#{roomId}';
    var userid = '#{usersession.userid}'
  script(src="/module/action_socket.js")
  .wrapper
    a(href="/questboard", class="btn") Back to Top
