extends layout
block content
  include includes/confirm_modal.jade
  h1= title
  //- center: p Welcome to #{title}
  center: canvas(id="myCanvas", height="800", width="800")
  script(src="http://localhost:8888/socket.io/socket.io.js")
  script(type='text/javascript').
    var dir = '#{filedir}';
    var roomid = '#{roomId}';
    var userid = '#{usersession.userid}'
    var username = '#{usersession.username}'

  script(src="/module/action_socket.js")
  div(class="box1")
    button.btn.btn-primary.btn-lg.btn-block(type='button')#joinBlue: strong Join Blue
  div(class="box2")
    button.btn.btn-danger.btn-lg.btn-block(type='button')#joinRed: strong Join Red
  button.btn.btn-success.btn-lg.btn-block(type='button')#startbutton: strong Game Start!

  .wrapper
    a(href="/questboard", class="btn") Back to Top
